#bbpress-forums {
  font-size: 16px;
  line-height: 1.1em;
  .button, .submit {
    @extend .btn;
    @extend .btn-primary;
  }
  label {
    margin-bottom: 6px;
    margin-top: 9px;
  }
  #bbp_search_submit {
    width: unset;
  }
}
