//
// LAYOUTS - RESPONSIVE
// Place all of your custom responsive styles in here. This stylesheet is loaded last,
// and takes precedence over all others.
//
// The various screen sizes and breakpoints can be configured in variables.less
//
// --------------------------------------------------

/* Responsive Text Centering */
.text-center-sm,
.text-center-md,
.text-center-lg,
.text-right-sm,
.text-right-md,
.text-right-lg {
  text-align: inherit;
}

// Breakpoint styles: these styles will only apply on screens smaller than
// the defined @grid-float-breakpoint-max (usually 767px).

// XS styles - default: x <= 479px
//xs: 0,
//sm: 576px,
//md: 768px,
//lg: 992px,
//xl: 1200px
@media (max-width: 576px) {
  #main-panel {
    margin-top: 18px;
  }
  header {
    &.page-header {
      background-size: cover;
      background-position: center;
      .header-padding {
        .title-container {

          .page-title {
            font-size: 20px;
            line-height: 1.2em;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  #header-logo-holder .bigtext, #intro-logo-holder .bigtext {
    font-size: 20px;
  }
  #intro-logo-load {
    height: 250px;
  }
  #header-logo-holder, #intro-logo-holder {
    // height: 250px;
  }
  .has-sidebar {
    padding-left: 20px;
  }
  header.page-header .header-padding{
    // height: 250px;
  }

  body.woocommerce-account.woocommerce-page {
    .woocommerce-MyAccount-navigation {
      width: 100%;
      float: none;
      ul {
        display: flex;
        flex-direction: column;
        li {
          flex-grow: 1;
          margin: 2px 2px 0 2px;
          border: 1px solid $light;
          display: flex;
          align-items: center;
          line-height: 1.1em;
          text-align: center;
          &:hover {
            border-top: 4px solid $primary;
          }
          &:last-child {
            border-bottom: 1px solid $light;
            margin-right: 0;
          }
          &:first-child {
            margin-left: 0;
          }
          &.is-active {
            border-bottom: none;
            border-top: 4px solid $primary;
          }
        }
      }
    }
    .woocommerce-MyAccount-content {
      width: 100%;
      float: none;
      border: 1px solid $light;
      border-top: none;
      padding: 10px;
      padding-top: 20px;
      margin-bottom: 150px;
    }
  }

}

// Small styles - default: 480px <= x <= 991px
@media (min-width: 576px) and (max-width: 768px) {
  #main-panel {
    margin-top: 54px;
  }
  .admin-bar {
    header.top-header, .slideout-menu {
      margin-top: 32px;
    }
  }
  #header-logo-holder .bigtext, #intro-logo-holder .bigtext {
    font-size: 25px;
  }
  #intro-logo-load {
    height: 300px;
  }
  #header-logo-holder, #intro-logo-holder {
    // height: 300px;
  }
  .has-sidebar {
    padding-left: 30px;
}
  header.page-header .header-padding{
    // height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #main-panel {
    margin-top: 110px;
  }
  .admin-bar {
    header.top-header {
      margin-top: 32px;
    }
  }
  #header-logo-holder .bigtext, #intro-logo-holder .bigtext {
    font-size: 25px;
  }
  #intro-logo-load {
    height: 300px;
  }
  #header-logo-holder, #intro-logo-holder {
    // height: 300px;
  }
  .has-sidebar {
    padding-left: 30px;
}
  header.page-header .header-padding{
    // height: 300px;
  }
}

// Medium styles - default: 992px <= x <= 1199px
@media (min-width: 992px) and (max-width: 1200px) {
  #main-panel {
    margin-top: 78px;
  }
  #header-logo-holder .bigtext, #intro-logo-holder .bigtext {
    font-size: 25px;
  }
  #intro-logo-load {
    height: 450px;
  }
  #header-logo-holder, #intro-logo-holder {
    // height: 450px;
  }
  .has-sidebar {
    padding-left: 30px;
  }
  header.page-header .header-padding{
    // height: 450px;
  }
}

// Large styles - default: 1200px <= x
@media (min-width: 1200px) {
  #main-panel {
    margin-top: 78px;
  }
  #header-logo-holder .bigtext, #intro-logo-holder .bigtext {
    font-size: 30px;
  }
  #intro-logo-load {
    height: 450px;
  }
  #header-logo-holder, #intro-logo-holder {
    // height: 450px;
  }
  .has-sidebar {
    padding-left: 30px;
  }
  header.page-header .header-padding{
    // height: 450px;
  }
}

/* Define xs styles after defaults so they take precedence */

.text-xs-left {
  text-align: left;
}

.text-xs-right {
  text-align: right;
}

.text-xs-center {
  text-align: center;
}

.text-xs-justify {
  text-align: justify;
}
