//
// LAYOUTS
// Place all of your custom styles in here. This stylesheet is loaded last,
// and takes precedence over all others.
//
// --------------------------------------------------

body {
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  font-weight: 400;
  color: $dark;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale; // enable font-smoothing for browsers that support it
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    clear: both;
    background: rgb(240, 240, 240);
    padding: 10px;
    width: 100%;
}
body.fade-in {
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 900;
}
h1, h2, h3, h4, h5, h6, .btn {
  font-family: 'Courier Prime', monospace;
}
.h1, .h2, .h3, .h4, .h5, .h6, {
  font-family: 'Courier Prime', monospace;
}
h2 {
  font-weight: 400;
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
hr {
  width: 100%;
}


main {
  max-width: 1500px;
  margin: 0px auto;
}

#header-logo-holder, #intro-logo-holder {
  .bigtext {
    font-size: 2.5em;
    letter-spacing: 2px;
    font-family: 'Courier Prime', monospace;
  }
}
.button {
  @extend .btn;
}
.fancy-header{
  height: 40px;

  float: left;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  color: $primary;
  display: flex;
  background: #fff;
  .page-title{
    // font-size: 1.4em;
    line-height: 40px;
    margin-right: 20px;
    white-space: nowrap;
    letter-spacing: 3px;
  }
  .header-flex-svg {
    margin-top: -8px;
    flex-grow: 1;
    svg{
      fill:#fff;
    }
  }
}
//Navigation Styles

header {
  &.page-header {
    background-size: cover;
    background-position: center;
    .header-padding {
      // padding: 40px 0 40px 0;
      width: 100%;
      svg{
        width: 100%;
      }
    }
  }
}

header.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.90);
  border-bottom: 3px solid transpaent;
  z-index: 2;
  a.icon, .menu-toggle {
    color: $dark;
    font-size: 1.5em;
    margin-right: 5px;
  }
  a:hover {
    color: $secondary;
  }

  nav.header-menu {
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      width: 100%;
      list-style: none;
      line-height: 1em;
      font-weight: bold;

      white-space: nowrap;
      li {
        padding: 0;
        flex-grow:1;
        display: block;
        position: relative;
        text-transform: uppercase;
        font-size: .9em;
        letter-spacing: 2px;
        a {
          color: $primary;
          padding: 10px 10px;
          display: block;
          text-decoration: none;
          border-top: 3px solid transparent;
          @include transition(500ms);
        }
        &.current_page_item, &:hover {
          & > a {
            border-top: 3px solid $primary;
            @include transition(100ms);
          }
          ul.children {
            a {
              border-bottom: none;
            }
          }

        }
        &.menu-item-has-children, &.page_item_has_children {
          // & > a {
          //   padding-right: 25px;
          // }
          ul.children,ul.sub-menu {
            height: 0;
            overflow: hidden;
            position: absolute;
            width: auto;
            min-width: 100%;
            display: flex;
            flex-direction: column;
            text-align: left;
            background: #fff;
            -webkit-box-shadow: 0px 5px 3px 0 rgba(1,1,1,.2);
            box-shadow: 0px 5px 3px 0 rgba(1,1,1,.2);
            li {
              a {
                padding: 10px 15px;
                text-align: center;
                &:hover {
                  background: #fafafa;
                  border-top: 3px solid transparent;
                }
              }
            }
          }
          &:hover {
            ul.children, ul.sub-menu {
              height: auto;
              li {
                margin: 0;
                a {
                  margin: 0;
                  display: flex;
                  color: $primary;
                  &:hover {
                    color: darken($primary, 20%);
                  }
                }

              }
            }
          }

          & > a {
            &:after {
              display: inline-block;
              font-style: normal;
              font-variant: normal;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              font-family: "Font Awesome 6 Pro";
              font-weight: 900;
              content: "\f078";
              position: absolute;
              display: none;
            }
            svg {
              color: $primary;
              font-size: .75em;
              position: initial;
              margin-left: 10px;
              margin-bottom: 2px;
            }
          }

        }

        &.standout {
          a {
            background: $primary;
            color: $light;
            font-weight: bold;
            &:hover {
              background: darken($primary, 10%);
            }
          }
        }

      }

    }
  }
  .make-logo {
    max-width: 90px;
    @include transition(500ms);
  }
  &.scrolled {
    .make-logo {
      max-width: 70px;
      @include transition(50ms);
    }
    border-bottom: 3px solid $primary;
  }
}

#mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  height: 0;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 19999;
  background: $light;
  @include transition(100ms);
  &.show {
    height: 100vh;
    opacity: 1;
    @include transition(200ms);
  }
  .mobile-logo {
    margin-top: 125px;
    img {
      width: 100%;
    }
  }
  ul {
    padding: 30px 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    list-style: none;
    margin-left: 25px;
    li {
      display: block;
      width: 100%;
      margin: 1px 0;
      @include transition(100ms);
      a {
        padding: 8px 16px;
        display: block;
        width: 100%;
        color: $primary;
        text-decoration: none;
        font-size: 18px;
        @include transition(200ms);
        &:hover {
          color: $primary;
          text-decoration: underline;
          @include transition(100ms);
        }
      }
      &.page_item_has_children {
        position: relative;
        & > a {
          padding-right: 25px;
        }
        &:before {
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 6 Pro";
          font-weight: 900;
          content: "\f105";
          display: none;
        }
        svg {
          font-size: 1em;
          position: absolute;
          top: 12px;
          left: -8px;
          color: $primary;
          @include transition(200ms);
        }
      }
      ul.sub-menu, ul.children {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        width: unset;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: 20px;
        li {
          flex: 1;
          &:last-child {
            margin-bottom: 20px;
          }
          a {
            font-size: 16px;
            padding: 4px 8px;
            background: none;
          }
        }
      }
      &.expanded {
        ul.sub-menu, ul.children {
          max-height: 900px;
          @include transition(200ms);
        }
        svg {
          transform: rotate(90deg);
          @include transition(50ms);
        }
      }
    }
  }


}
#mobileMenuToggle {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: $primary;
  padding: 5px;
  border-radius: 40px;
  width: 70px;
  height: 70px;
  z-index: 100000;
  -webkit-box-shadow: 0 0 10px 0 rgba(1,1,1,.3);
  box-shadow: 0 0 10px 0 rgba(1,1,1,.3);
  svg {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    path {
      transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
      &:nth-child(1) {
        transform-origin: 36% 40%;
      }
      &:nth-child(2) {
        stroke-dasharray: 29 299;
      }
      &:nth-child(3) {
        transform-origin: 35% 63%;
      }
      &:nth-child(4) {
        stroke-dasharray: 29 299;
      }
      &:nth-child(5) {
        transform-origin: 61% 52%;
      }
      &:nth-child(6) {
        transform-origin: 62% 52%;
      }
    }
  }
  &.active svg {
    transform: rotate(90deg);
    path{
      &:nth-child(1) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
      }
      &:nth-child(2) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
      }
      &:nth-child(3) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
      }
      &:nth-child(4) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
      }
      &:nth-child(5) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
      }
      &:nth-child(6) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
      }
    }
  }

}



#certs {
  i {

  }
  &.loading {
    text-align: center;
    padding: 50px;
    svg {
      margin: 0 auto;
      text-align: center;
    }
  }
}
#prodCats {
  display: flex;
  flex-wrap: wrap;
  svg {
    margin: 0 auto;
    text-align: center;
  }
  .product {
    flex-grow: 1;
    max-width: 20%;
    background: $light;
    border: none;
    padding: 20px;
    color: $primary;
    margin: 2px;
    font-size: 1.6em;
    text-transform: uppercase;
    &.selected {
      background: $primary;
      color: $light;
    }
  }
}
//Signup Section
.signup {
  .woocommerce {
    width: 100%;
    padding: 10px;
  }
  .signup-section {
    opacity: 0;
    height: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

    &.show {
      opacity: 1;
      height: unset;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
    }
  }
}

.block {
  background: $light;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  .image {
    flex-grow: 1;
    width: 40%;
  }
  .text{
    flex-grow: 2;
    width: 60%;
    padding: 11px;
    h3 {
      color: $primary;
      font-size: 1.2em;
      text-transform: uppercase;
      margin: 0 0 10px 0;
    }
  }
  .block-button {
    width: 100%;
    padding: 20px 0 0 0;
  }
}

//Shop Page
.product{
  h1.product_title{
    font-size: 1.8em;
  }
  .woocommerce div.product form.cart .variations {
    white-space: nowrap;
  }
  .single_variation_wrap {
    margin-bottom: 20px;
  }
}



section.newsletter {
  background: $light;
  .gfield_label {
    display: none;
  }
  .gform_footer {
    text-align: center;
    padding: 0 0 40px 0;
    .gform_button.button {
      background: #fff;
      color: $primary;
      padding: 10px 20px;
      font-size: 1.2em;
      text-transform: uppercase;
    }
  }
  .gform_confirmation_message {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
  }
}
// Footer
footer.footer {
  border-top: 1px solid $light;
  border-bottom: 1px solid $light;
  text-align: left;
  .textwidget {
    margin-left: 30px;
  }
  h3 {
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 0;
    margin-left: 30px;
  }
  svg {
    margin-top: -5px;
    path.svg-sidebar-line {
      fill: transparent;
    }

  }
  .widget_nav_menu {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  nav.footer-menu {
    width: 100%;
    font-size: .9em;

    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        padding: 5px 15px;
        margin: 0;
        display: inline-block;
        a {
          color: $secondary;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.svg-sidebar-line {
  fill: #fff;
  stroke: $dark;
}
footer.bottom-footer{
  border-top: 5px solid $primary;
  background-color: $background;
  .text-center {
    text-align: center;

  }
  p{
    margin: 0;
    padding: 0;
  }
}
.footer-credit {
  img {
    float: left;
    margin: 10px;
  }
}





.bypostauthor > article .fn:before {
  content: "\f408";
  margin: 0 2px 0 -2px;
  position: relative;
  top: -1px;
}
.tool-access-calendar {
  background: #fafbfc;
  border-top: 1px solid #e6e6e6;
  padding-top: 15px;
  .tribe-common-l-container {
    padding-top: 0 !important;
  }
  .tribe-events-header, 
  .tribe-events-c-subscribe-dropdown__container,
  .tribe-events-pro-summary-nav {
    display: none !important;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
    min-height: unset;
  }
}

article.tool, article.certs {
  .image-header {
    display: flex;
    flex-wrap: wrap;
    a {
      max-width: 20%;
      display: block;
      // width: 100%;
      img.tool-image {
        
        @include transition(400ms);
        &:hover {
          transform: scale(1.1);
          @include transition(100ms);
        }
      }
    }
    
  }
  .terms-list {
    color: $secondary;
    text-transform: uppercase;
  }
  h5.post-title {
    font-weight: bold;
  }

}
/* single post */
.tool-gallery{
  .tool-image{
    max-width: 20%;
  }
}
.alignleft, img.alignleft {
  float: left;

}

.alignright, img.alignright {
  float: right;

}

.aligncenter, img.aligncenter {
  float: none;

}

.alignnone, img.alignnone {
  float: none;

}


aside.sidebar {
  .certifications {
    .certification-products {
      max-width: 300px;
      margin-left: 56px;
    }
  }
}

section.team, section.makers {
  .content{
    h3 {
      font-size: 1.2em;
      color: $primary;
    }
    h4{
      font-size: 1.1em;
      color: lighten($dark, 30%);
    }
  }
}
section.badged-makers {
  background-color: $light;
  background: $background;
  border-top: 1px solid $light;
}
section.member-menu {
  background-color: lighten($dark, 30%);
  nav.member-menu {
    width: 100%;
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      justify-content: flex-end;
      list-style: none;
      li {

        a {
          padding: 5px 10px;
          color: #fff;
        }
      }
    }
  }
}

.make-member-card {
  margin-top: 50%;

  .profile-image {
    margin-top: -40%;
  }
}
section.maker-profile, section.badged-makers {
  .sidebar-title {
    text-transform: uppercase;
    color: $primary;
    font-size: 1.4em;
  }
  .maker-image {
    img{
      width: 100%;
    }
  }
  .certifications {
    display: flex;
    flex-wrap: wrap;
  }
  .maker-badges {
    .badge-image-holder {
      background: #fafafa;
      padding: 5px;
      border: #e6e6e6;
      width: 31.3333%;
      &.false {
        opacity: .5;
      }
      h3.badge-title {
        font-size: 12px;
        text-align: center;
      }
    }
  }
  
}

aside.sidebar {
  background: $background;
  border-right: 1px solid $light;
  max-width: 500px;
  .sidebar-cont {
    float: right;
    width: 100%;
    ul {
      float: left;
      list-style: none;
      margin-bottom: 40px;
      li {
        padding: 0;
        margin: 0;
        float: left;
        width: 100%;
        a {
          padding: 10px 0;
          width: 100%;
          font-weight: bold;
        }
      }
    }
    .sidebar-content, .sidebar-widget{
      width: 100%;
      float: left;
      h3.fancy {
        color: $primary;
        padding-left: 13%;
        font-size: 1.4em;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 6px;
        font-weight: bold;
      }
      svg{
        margin-top: -20px;
        fill: none;
        stroke: #B3AFAC;
        .svg-sidebar-line{

        }
        .svg-sidebar-circle {
          fill: #fff;
        }
      }
      .related_content, .facet-options {
        margin-left: 56px;

        h4 {
          font-size: 1.2em;
          font-weight: bold;
          margin-bottom: 0;
        }
        h5 {
          font-size: 1em;
          color: #aaaaaa;
        }
        svg{
          margin-top: -20px;
        }
      }
      .facet-options{
        .facetwp-checkbox{
          background: none;
          background-color: lighten($secondary, 20%);
          border-left: 20px solid $secondary;
          padding: 5px 0 5px 9px;
          margin-bottom: 1px;
          &.checked {
            border-left: 20px solid $primary;
          }
          &.disabled {
            color: $secondary;
          }
        }
      }
      .sub-content {
        float: left;
        margin-left: 56px;
        color: lighten($dark, 10%);
        font-weight: 100;
        font-size: .95em;
      }
    }
    .facet-options{
      padding-left: 13%;
      .facetwp-type-checkboxes {
        .facetwp-checkbox{
          background: darken($background, 20%);
          border-left: 15px solid $background;
          margin: 0 0 5px 0;
          padding: 5px 10px;
          &.checked{
            border-left: 15px solid $primary;
          }
          &.disabled {
            opacity: .4;
          }
        }
      }
    }


  }

  .sidebar-social {
    font-size: 3em;
    border-bottom: 5px solid $light;
  }
  .widget-container {
    div {
      margin-left: 56px;
    }
  }

}
//Prioducts


.shop-header {
  background: $primary;
  #header-logo-holder .bigtext, #intro-logo-holder .bigtext {
    fill: #fff;
    color: #fff;
  }
  #intro-logo-load .dot {
    stroke: #fff;
  }
  #intro-logo-load .fills {
    fill: lighten($primary, 20%);
  }
  #intro-logo-load .lines {
    stroke: #fff;
  }
  #intro-logo-load .circle {
    fill: transparent;
    stroke: #fff;
  }
  .sidebar-cont a {
    color: $primary;
  }
  .color-back {
    background-color: $primary;
    color: #fff;
  }
}

.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		overflow: hidden;
		max-width: 100%;
		height: auto;
    iframe, object, embed {
    		position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    	}
	}



//Pages
.variable-content {
  margin-top: 20px;
  margin-bottom: 20px;
  .column_content {
    padding: 20px;
    border-right: 1px solid #fff;
    &:last-of-type{
      border-right: 0;
    }
  }
}

// Pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  .page-numbers {
    background: $primary;
    padding: 5px 10px;
    margin: 0 2px;
    color: #fff;
    text-align: center;
    flex: 1;
    font-size: 1.4em;
    font-weight: 500;
    min-width: 30px;
    white-space: nowrap;
  }
  .page-numbers.current {
    background: $light;
    color: $dark;
  }
  .page-numbers:first-child {
    margin-left: 0;
  }
  .page-numbers:last-child {
    margin-right: 0;
  }
}

// Footer Styles
