.facetwp-pager {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  .facetwp-page, .facetwp-pager-label {
    text-align: center;
    flex-grow: 1;
    padding: 5px 10px;
    background-color: $light;
    margin: 1px;
    a {
      color:#fff !important;
    }
    &.active {
      background-color: $primary;
      color: #fff;
    }
  }
}
