// .gform_wrapper {
//   padding: 10px;
//   p {
//     margin-bottom: 0 !important;
//   }
//   .gform_heading {

//   }
//   .gfield_label {
//     margin-bottom: 0 !important;
//     p {
//       margin-bottom: 0  !important;
//     }
//   }
//   form {
//     .gform_body, .gform-body {
//       input[type=text], input[type=email], input[type=tel], textarea {
//         @extend .form-control;
//       }
//       .gfield {
//         br {
//           display: none;
//         }
//         .ginput_complex {
//           justify-content: space-between;
//           & > .span {
//             p {
//               flex-grow: 1;
//             }
//             &.ginput_left {
//               flex-grow: 1;

//             }
//             &.ginput_right {
//               flex-grow: 1;
//             }
//           }
//           p {
//             display: block;
//             padding-right: 20px;
//             margin-bottom: 0;
//             &:last-child {
//               padding-right: 0;
//             }
//           }
//           label {
//             display: block;
//             font-size: 14px;
//             line-height: 14px;
//             margin-bottom: 10px;
//             font-weight: 400;
//           }

//         }
//         .gchoice {
//           display: flex;
//           align-items: center;
//           label {
//             padding-top: 6px;
//           }
//         }
//       }
.gform-body, .gform_body {
    input, textarea, select, .gform-theme-field-control {
        @extend .form-control;
        // margin-bottom: 10px;
        border-color: rgb(118, 118, 118);
        min-height: 38px;
        margin-top: 15px;
    }
}






//       .gchoice {
//         @extend .form-check;
//         input {
//           @extend .form-check-input;
//           margin-right: 10px;
//           margin-top: 8px;
//         }
//         label {
//           @extend .form-check-label;
//         }
//       }
//     }
//     select {
//       @extend .form-select;
//     }
//     .gform_footer, .gform_page_footer {
//       .gform_button, .button {
//         @extend .btn;
//         @extend .btn-primary;
//       }
//     }
//   }
// }


// /* Buttonize Radio & Checkbox Fields */

// .gform_wrapper .gfield.buttonized {
//   background-color: #f7f7f7;
//   padding: 10px;

//   input {
//     &[type="radio"], &[type="checkbox"] {
//       position: absolute;
//       left: -9999px;
//     }
//   }
//   .gfield_label {
//     font-size: 1.2em;
//     text-align: center;
//   }
//   .gfield_radio, .gfield_checkbox  {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     padding: 10px;

//     .gchoice {
//       flex-grow: 1;
//       padding: 10px;
//       position: relative;
//       text-align: center;
//       label {
//         @extend .btn;
//         @extend .btn-success;
//         background-color: rgb(227 253 209);
//         padding: 15px 10px;
//         font-size: 1.1em;
//         color: green;
//         width: 100%;
//         display: block !important;

//         max-width: 100%;

//         cursor: pointer;
//       }
//     }

//   }


//   input {
//     &[type="radio"]:focus + label, &[type="checkbox"]:focus + label {
//       border-color: $dark;
//     }

//     &[type="radio"]:checked + label, &[type="checkbox"]:checked + label {
//       overflow: hidden;
//       background-color: #5db720;
//       color: $dark;
//     }

//     &[type="radio"]:checked + label::before, &[type="checkbox"]:checked + label::before {
//       content: "";
//       display: block;
//       position: absolute;
//       top: 10px;
//       left: 7px;
//       right: auto;
//       width: 40px;
//       height: 40px;
//       background-image: url(../img/checkmark.svg);
//       background-size: contain;
//       background-repeat: no-repeat;
//       border-radius: 0;
//       border: 0;
//     }
//   }

//   .gfield_radio label::before, .gfield_checkbox label::before {
//     display: none;
//   }
// }
