/** Gravity Forms */
.gform_wrapper{
  margin-bottom: 20px;
  label.gfield_label {
    font-size: 1.2em;
    font-weight: bold;
  }
  .gform_validation_container {
    display: none;
  }
  .gfield_consent_description {
    margin-left: 15px;
    margin-bottom: 10px;
    border-left: 1px solid $danger;
    padding: 0 10px;
    ol {

    }
  }
  .ginput_container_consent {

  }
}
.gform_card_icon_container {
  display: none;
}
.ginput_cardinfo_left {
  display: block;
  float: left;
  width: 79%;
  margin-right: 1%;
}
.ginput_cardinfo_right {
  display: block;
  float: left;
  width: 20%;
}
.ginput_card_expiration_container {
  .ginput_card_expiration {
    float: left;
  }
  .ginput_card_expiration_month {
    width: 74%;
    margin-right: 1%;
  }
  .ginput_card_expiration_year {
    width: 25%;
  }
  label {
    clear: both;
    width: 100%;
  }
}
.ginput_container.ginput_container_textarea {
  textarea.small{
    height: 125px;
  }
}
.ginput_complex {
  &.has_first_name.no_middle_name.has_last_name {
    display: flex;
    span.name_first {
      flex: 1;
      margin-right: 10px;
    }
    span.name_last {
      flex: 1;
      margin-right: 10px;
    }
    span:last-child{
      margin-right: 0;
    }

  }

  label{
    font-size: .8em;
  }
}
.hidden_label {
  label {display: none;}
}
.gform_wrapper ul {
  @extend .list-unstyled;
}

.gform_wrapper li {
  @extend .form-group;
  ul.gform_fields {
    label {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

}

.ginput_full.ginput_cardextras {
  display: block;
  margin-top: 4px;
}
ul.gfield_checkbox, ul.gfield_radio {
  display: flex;
  flex-wrap: wrap;
  li {
    @extend .form-check;
    margin-bottom: 0;
    input{
      margin-right: 10px;
    }
  }
}

.gfield.gsection {
  border-left: 10px solid $warning;
  border-top: 1px solid $warning;
  padding: 10px;
  margin-top: 43px;
}

.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: $danger;
}

.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"],
.gform_wrapper select,
.gform_wrapper textarea {
  @extend .form-control;
}

.gform_wrapper .button {
  @extend .btn;
  @extend .btn-lg;
  background-color: $primary;
  color: #fff;
}

.gform_wrapper .gfield_error {
  .gfield_label {
    @extend .alert-danger;
  }

  input,
  select,
  textarea {
    @extend .alert-danger;
  }
}

.validation_error {
  @extend .alert;
  @extend .alert-danger;
}

.validation_message {
  display: none;
}


#ui-datepicker-div {
  background: #FFF;
  border: 1px solid #ddd;
  border-radius:4px;
  box-shadow: (0px 3px 5px 0px rgba(50, 50, 50, 0.75));
  display:none;
  padding:20px;
  width:300px;

  .ui-icon {
    color: transparent;
    cursor: pointer;
    font-size: 0px;
  }


  .ui-datepicker-prev {
    float: left;
    width: 10%;

    .ui-icon:before {
      content:'\f060';
    }

    &.ui-state-disabled {
      display:none;
    }
  }

  .ui-datepicker-next {
    float: right;
    width: 10%;
    .ui-icon:before {
      content:'\f061';
      float: right;
    }

    &.ui-state-disabled {
      display:none;
    }
  }

  .ui-datepicker-title {
    select {
      float: left;
      width: 70%;
    }

    .ui-datepicker-month {
      margin: 0px 5% 6px;
    }

    .ui-datepicker-year {
      margin: 0px 15% 6px;
    }
  }

  .ui-datepicker-today {
    background-color: $primary;
    border-radius: 4px;

    a {
      color: #FFF;
    }
  }

  table {
    width: 100%;

    td, th {
      text-align: center;
    }

    td {
      a {
        display: block;
        padding: 5px;
      }
    }
  }
}


.gf_progressbar {
  @extend .progress;
  height: 30px;
  margin-bottom: 15px;
  .gf_progressbar_percentage {
    @extend .progress-bar;
    font-size: 18px;
    span {
      display: block;
      padding: 10px;
    }
  }
}
