.event-tickets .tribe-tickets__tickets-form, .entry .entry-content .event-tickets .tribe-tickets__tickets-form {
  max-width: unset !important;
}

header.tribe-events-header {
  .term-description {
    a {
      font-weight: bold;
      color: $primary;
    }
  }
}
