.event-tickets .tribe-tickets__tickets-form, .entry .entry-content .event-tickets .tribe-tickets__tickets-form {
  max-width: unset !important;
}
.tribe-embed a, .tribe-events-event-meta a, .tribe-events-single a {
  // color: unset !important;  
}
.tribe-events .tribe-events-calendar-list__event-date-tag {
  width: 100px !important;
  margin-right: 10px !important;
  time {
    padding-top: 0 !important;
  }
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-row>.tribe-common-g-col {
  padding-right: 0px !important;
} 


.single-tribe_events {
  .tribe-events-single-event-title {
    font-size: 2.5em !important;
    display: block;
    max-width: 600px;
  }
}
.tribe-events-schedule__datetime {
  padding: 5px 10px;
  background: rgb(246, 246, 246);
  border: 1px solid rgb(221, 221, 221);
  font-family: 'Montserrat', sans-serif;
}

.tribe-block {
  &.tribe-block__event-website {
    a {
      color: $light;
    }
  
  }
}
header.tribe-events-header {
  .term-description {
    a {
      font-weight: bold;
      color: $primary;
    }
  }
}


ul.tribe-related-events {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0 10px;
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0;;
    }
    background-color: none !important;
    border: 0px !important;
    .tribe-related-event-info {
      padding: 15px;
      font-size: 20px;
      text-align: center;
      .tribe-related-events-title {
        font-size: 21px;
        margin: 10px;
        line-height: 24px;
        a {
          text-decoration: none;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      span {
        font-size: 16px;
      }
    }
  }
}

tribe-events-calendar-list__event-title tribe-common-h6 tribe-common-h4--min-medium {
  padding-left: 0!important;
}
.tribe-events-calendar-month {
  .tribe-events-calendar-month__body {
    .tribe-events-calendar-month__day--past {
      opacity: .4;
      background-color: #efefef;
    }
    // .tribe-events-calendar-month__day--current, .tribe-events-calendar-month__day--selected {
    //   .tribe-events-calendar-month__day-cell {
    //     border: 2px solid $primary;
    //   }
    // }
  }
}

.tribe-common {
  .tribe-common-b2 {
    font-size: 16px !important;
  } 
  .tribe-common-b2 {
    font-size: 16px !important;
  } 

  h4 {
    font-weight: 400;
    font-size: 2em;
  }
  .tec-tickets__attendees-list {
    .tec-tickets__attendees-list-item {
      margin-bottom: 20px;
    }
    .tribe-common-b1--bold {
        font-weight: bold;
    }
    .tec-tickets__wallet-plus-passes-container {
      display: flex;
      flex-direction: row;
      justify-content: start;
      height: 100px;
      
      & > div {
        margin-right: 10px;

        
        height: 100%;
        display: flex;
        align-items: center;
        a {
          padding: 10px;
          border: 1px solid $dark;
          border-radius: 10px;
          height: 100%;
          color: $primary;
          font-weight: bold;
        }
      }
    }
  }



}

.tribe-events {

  .tribe-events-calendar-list__event-date-tag-datetime {
    
    // border: 1px solid $light;
    span {
      &.tribe-events-calendar-list__event-date-tag-weekday {
        padding: 3px 5px 7px 5px;
        background-color: #e6e6e6;
        font-weight: bold;
        font-size: 13px;
        border-bottom: 1px solid $light;
        border-left: 1px solid $light;
        border-right: 1px solid $light;
        border-top: 1px solid $light;
        
      }
      &.tribe-common-h4--min-medium {
        padding: 20px 10px;
        background-color: #efefef;
        border-bottom: 1px solid $light;
        border-left: 1px solid $light;
        border-right: 1px solid $light;
        font-size: 40px;
      }
    }
  }
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-h4--min-medium {
  padding-left: 0px;
}



.woocommerce-order {
  .tec-tickets__attendees-list-wrapper {
    display: none !important;
  }
}