body.woocommerce-account.woocommerce-page {
  .woocommerce-MyAccount-navigation {
    width: 100%;
    float: none;
    ul {
      display: flex;
      flex-direction: row;
      li {
        flex-grow: 1;
        margin: 2px 2px 0 2px;
        border: 1px solid $light;
        display: flex;
        align-items: center;
        line-height: 1.1em;
        text-align: center;
        &:hover {
          border-top: 4px solid $primary;
        }
        &:last-child {
          border-bottom: 1px solid $light;
          margin-right: 0;
        }
        &:first-child {
          margin-left: 0;
        }
        &.is-active {
          border-bottom: none;
          border-top: 4px solid $primary;
        }
      }
    }
  }
  .woocommerce-MyAccount-content {
    width: 100%;
    float: none;
    border: 1px solid $light;
    border-top: none;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 150px;
  }
}


.woocommerce span.onsale.wc-memberships-member-discount {
  position: absolute;
  left: 0;
}

.woocommerce{
  .woocommerce-Input {
    @extend .form-control;
  }
}



.woocommerce {
  ul.products {
    li.product {
      @extend .d-flex;
      @extend .flex-column;
      a.button {
        @extend .mt-auto;
      }
    }
  }
  button.button {
    background-color: $primary !important;
    @extend .btn;
    @extend .btn-primary;
  }
}
.woocommerce .quantity .qty {
    text-align: center;
    padding: 3px;
    font-size: 1.2em;
}

.woocommerce span.onsale, .woocommerce ul.products li.product .onsale.wc-memberships-member-discount {
    border-radius: 0;
    margin: 0;
    position: absolute;
    top: 0;
    padding: 10px;
    background: $primary;
    line-height: 22px;
    font-size: .8em;
    text-decoration: uppercase;
    min-width: 0;
    min-height: 0;
}
.nyp-input {
  border-color: $secondary;
}
.woocommerce ul.products .onsale, span.onsale {
  min-height: 50px;
  min-width: 50px;
  padding: 0px 5px;
  font-size: 1em;
  font-weight: 700;
  position: absolute;
  text-align: right;
  line-height: 38px;
  top: -.5em;
  left: -.5em;
  margin: 0;
  border-radius: 0 0 0 100%;
  background-color: #77a464;
  color: #fff;
  font-size: .857em;
  z-index: 9;
}

.woocommerce form {
  .form-row{
    width: 100%;
    label {
      line-height: 2;
      width: 100%;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: .9em;
    }
    span.woocommerce-input-wrapper{
      width: 100%;
    }
  }
}

.btn-default {
  background: #fff;
  color: $primary;
  border-color: $primary;
  padding: 10px 20px;
  font-size: 1.2em;
  text-transform: uppercase;
}
.no-image-product {
  .product_title {
    text-align: center;
  }
}
.btn-default {
  border: 1px solid $primary;
}

.woocommerce ul.products li.product .button {
  display: block;
  background-color: $primary;
  text-align: center;
  color: #fff;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  padding: .5em 0;
  margin: 0;
  font-size: 1em;
  text-align: center;
  text-transform: capitalize;
}
.woocommerce ul.products li.product .price {
  text-align: center;
}


.woocommerce {
  nav.woocommerce-MyAccount-navigation {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        border-top: 1px solid $primary;
        a {
          padding: 10px 15px;
          display: block;
        }
        &:last-child{
          border-bottom: 1px solid $primary;
        }
      }
    }
  }
  .event-date {
    font-size: .9em;
    text-transform: uppercase;
    color: $dark;
  }
}
