/* Rating Addon */
.comment-form-gv-review-rate{
	margin-bottom: 0;
}
.comment-form-gv-review-rate label{
	font-size: 20px;
}
.gv-star-rating.gv-star-rate-holder .gv-star-rate {
    font-size: 30px;
        color: #f16531;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.gv-back-link a,
 .gv-table-view a{
    color: #009999;


   }
	.gv-grid-col-2-3 {
    width: 100%;
}

.gv-list-view{
	clear:both;
}
.gv-list-view-title h3{
	margin: 10px 0 5px;
}

.gv-field-40-7 p{
	margin-bottom: 0;
}
.gv-grid-col-2-3 {
    width: 100%;
}

.gv-list-view-title h3 a{
	color:#181147;
	font-size: 20px;
}
.gv-list-view-subtitle h4{
    color: #414141;
        margin: 0;
        font-size: 16px;
}

.gv-list-view-content .meta{
	font-size: 14px!important;
}
.gv-list-view-subtitle .job-title {
    text-transform: lowercase;
    color: #414141;
        font-weight: 400;
}
.gv-list-view-content {
    padding: 0;
}

.gv-search-horizontal .gv-search-box.gv-search-box-submit {
    vertical-align: middle;
    padding-top: 15px;
}


.gv-table-view th, .gv-table-view td {
    text-align: left;
}
.gv-table-view {

    clear: both;
}

.gv-table-view p {
    margin: 0 0 15px;
}

.gv-table-view .gv-review-content-text p {
    padding: 5px 20px 5px;
    margin: 0;
}

.gv-table-view tr {
    border-bottom: 1px solid #ccc;
}



.gv-search-box select {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #d3d3d3;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #00abbd;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.pagaination-holder{
	border-bottom: 1px solid #00abbd;
	    overflow: auto;
}
.gf_entry_next a {
/*
    display: block;
    padding-right: 0px;
    min-height: 0px;
    width: 30px;
    height: 30px;
*/
}
.gf_entry_prev a {
/*
    display: block;
    padding-left: 0px;
    min-height: 0px;
    width: 30px;
    height: 30px;
*/
}

.gv_pagination_links i{
	    vertical-align: middle;
}

/*
.gv-star-rating {
	display: inline-block;
	margin-right: 10px;
}
*/
.gf_entry_disabled{
	    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Voting form and votes */
.gv-star-rating {
    display: inline-block;
    margin-right: 10px;
}

.gv-reviews-area .gv-review-list-header {
    padding: 0.5em 0em;
}
.gv-reviews-area{
	    border-top: 2px solid #eee;
	    margin: 30px 0;
}


.gv-back-link{
	float: left;
}
.gv_pagination{
	float: right;
}
.gv_pagination_links{
	width: 30px;
min-width: 30px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
/* .rated-message, */
.limited-to-one-review{
    font-style: italic;
    color: #a94442;
        text-align: center;
}

.gv-review-voting-area{
	    padding: 0.5em 1em;
    background-color: #eee;
}
.gv-reviews-area .gv-review-list-footer {
     background-color: transparent;
	 border-top: 2px solid #eee;
	     padding: 0.5em 0;
    overflow: auto;
}

.gv-review-list-body{
	    border: 1px solid #EFEFEF;
    border-top: 0;
        border-bottom: 0;
}
/* Reset header table style*/
.gv-reviews-area .gv-review-list-header .gv-review-list-title {
    display: block;
        overflow: auto;
    }

.gv-reviews-area .gv-review-list-header .gv-review-list-title .gv-review-num-of-reviews, .gv-reviews-area .gv-review-list-header .gv-review-list-title .gv-review-rating-aggregate {
    display: inline-block;
}

.gv-reviews-area .gv-review-list-header .gv-review-list-title .gv-review-rating-aggregate {
    float: right;
}
/* vote comments */
.gravityview .comment-body{
	 padding-top: 1px;
	 border-top: 1px solid #eee;
}
.gravityview .comment-body{
	 padding-top: 1px;
	 border-top: 1px solid #eee;
}

.gv-review-content-text{
    color: #666;
    background: #EFEFEF;
    font-size: 14px;
     margin-top: 1px;
}
.gv-review-content-text p{

    padding: 5px 20px 5px;
   margin: 0;
}
.gv-review-content-text{
    color: #666;
    background: #EFEFEF;
    font-size: 14px;
     margin-top: 1px;
}

.gv-review-list .comment-author{
    line-height: 30px;
    padding-left: 5px;
}




/*

	Theme  My Login

*/
/*
.tml {
    max-width: 320px;
}
.tml-profile {
    max-width: 100%;
}
*/

/*
.tml-form-table{
	.table();
}
*/

/*
.form-table > tbody > .acf-field > .acf-label{
	width: 300px;
}

.tml-profile .tml-form-table th {
    padding: 20px 10px 20px 0;
    width: 300px;
        vertical-align: top;
    margin: 0 0 10px;
    display: inline-block;
}
.tml-profile .tml-form-table td {
        vertical-align: top;
            padding: 15px 5% 15px 10px;
            display: inline-block;
}
*/

/*

.tml-user-avatar{
	display: none;
}

.tml {
	border: 1px solid #f0f0f0;
    background: #f9f9f9;
    position: relative;
    width:100%;
}

.tml.tml-user-panel{
	padding: 0;
	background: transparent;
	border: 0;
}
.tml.tml-resetpass,
.tml.tml-lostpassword,
.tml.tml-register,
.tml.tml-login {
 background-color: #eff2f3;
    padding: 24px 23px 20px;
    margin: 0 auto;
    border-radius: 6px;
}
.tml-profile h3{
	display: none;
}

.tml .display_name,
.tml .input,
.tml #description,
.tml .regular-text{
	.form-control();
}

.tml #description{
	min-height: 130px;
}
.tml  .button-secondary,
.tml .button{
	.btn();
	.btn-default();
	background: @red;
	.btn-sm();
}


.tml   .avatar_container {
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    margin-left: 10px;
    width: 150px;
}
.tml .avatar-container .button-secondary{
    width: auto;
    display: block;
    margin-bottom: 35px;
    margin-left: 10px;
}



.tml .button-primary,
.tml #wp-submit{
	.btn();
	.btn-default();
	background: @red;
}

.tml .button-primary:focus, .tml #wp-submit:focus, .tml .button-primary.focus, .tml #wp-submit.focus,
.tml .button-primary:hover, .tml #wp-submit:hover {
    color: #FFF;
}

.tml .message{
	.alert();
	.alert-info();
}
.tml br{
display: none;
}

.tml-form-table > tbody > tr > th{
	 padding-bottom: 0!important;
}

.tml-form-table > tbody > tr > td {
    padding-top: 0!important;
}

.tml .description{
	.help-block();
}

.tml-form-table{
	.table();
}

.tml-form-table tbody tr td, .tml-form-table tbody tr th, .tml-form-table thead tr th {
    border: none;
}
*/

