.footerDrawer {
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  .open {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: #fff;
    border-top: 3px solid $primary;
    h5 {
      cursor: pointer;
      color: $primary;
    }
    .content {
      min-height: 20px;
      background-color: #fff;
      display: none;
    }
    ul {
      padding: 0px;
      margin: 0;
      display: flex;
      flex-wrap: nowrap;
      li {
        flex-grow: 1;
        text-align: center;
        a {
          padding: 10px 10px;
          margin: 1px;
          display: block;
        }
      }
    }
  }

}
