#header-flare path {
  stroke: $primary;
}
#intro-logo-load {
  height: 357px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 30px;
  .circle {
    fill: $primary;
    stroke: $primary;
  }
  .dot {
    stroke: $primary;
    fill: transparent;
  }
  .lines {
    fill: transparent;
    stroke: $primary;
  }
  .fills {
    stroke: $dark;
  }
  #banner {
    .lines {
      stroke: #000;
    }
  }
}
